@use '../variables';

.button {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$gold2;
    }

    @media (max-width: 640px) {
        width: 100%;
    }
}