@use 'variables';

.event {
    padding: 80px 0;
    
    &--sec1 {
        background-image: linear-gradient(variables.$gold2, variables.$orange1);
    }

    &--sec2 {
        background-image: linear-gradient(variables.$orange1, variables.$brown1);
    }

    &--sec3 {
        background-image: linear-gradient(variables.$brown1, variables.$brown1);
    }

    &--sec4 {
        background-image: linear-gradient(variables.$brown1, variables.$gold2);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 360px;
        border-radius: 6px;
    }

    &__details {
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin: 16px 0;
        }
    
        &__text {
            font-size: 16px;
        }
    }
}